{% extends 'base.html' %}

{% block content %}
<div class="chat">
    {% if group_chat %}
    <h5><img class="img-article-chats " src="\media\photos\defalts\group_chat.png"></p>
        {{ group_chat.title_chat }}<span style="font-size: small; float: right;">
            <a href="{% url 'chats:info_about_chat' group_chat.pk %}">Информация по беседе</a></span></h5>
    {% endif %}
    <div class="messages">
        {% for m in chat %}
        <div class="message">
            <div>
                {% if m.sender != m.next_by_time_create.sender %}
                <a href="{{ m.sender.get_absolute_url }}">
                    {% if m.sender.user_info.photo %}
                    <img class="img-article-chats" src="{{m.sender.user_info.photo.url}}">
                    {% else %}
                    <img class="img-article-chats" src="\media\photos\defalts\default_avatar.png">
                    {% endif %}
                    <p>{{ m.sender.username }}
                </a>
                {% endif %}
            </div>

            {% if m.gallery_images %}
            <div class="container" style="margin-top: 20px;">
                <div style="display: flex; justify-content: left; flex-wrap: wrap;">
                    {% for img in m.gallery_images.all %}
                    <a data-fslightbox="gallery-{{m.pk}}" href="{{img.img.url}}" style="all: unset;">
                        <img src="{{img.img.url}}" alt="" style="margin: 10px; cursor: pointer; object-fit: cover;  max-width: 175px;">
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div>
                {% if m.is_readed %}
                <p>{{ m.text }} | <span style="float: right;">{{ m.time_create|date:"d.m.Y H:i" }}</span></p>
                {% else %}
                <p style="background-color: rgb(230, 255, 253);">{{ m.text }} | <span style="float: right;">{{ m.time_create|date:"d.m.Y H:i" }}</span></p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    
    <form action="" method="post" target="#here" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="input-group input-group-sm mb-3">
            {{ form.text }} <button id="send_enter" onclick="run()" type="submit">Отправить</button> 
        </div>
        <div>
            {{form.list_img}}
        </div>
    </form>
</div>

{% endblock content %}


<p>СНИЗУ ДЛЯ ПРЕДВАРИТЕЛЬНОГО ПРОСМОТРА ЗАГРУЖЕННОГО ФОТО, НО ТОЛЬКО ОДНОГО</p>
<input accept="image/*" type='file' id="imgInp" />
<img id="blah" src="#" alt="не выбрано ни одного изображения" height="100px" width="100px" />
<script>
    id_list_img.onchange = evt => {
      const [file] = id_list_img.files
      if (file) {
        blah.src = URL.createObjectURL(file)
      }
    }
</script>    