{% extends 'base.html' %}

{% block content %}
<div class="chat">
    {% if group_chat %}
    <h5><img class="img-article-chats " src="\media\photos\defalts\group_chat.png"></p>
        {{ group_chat.title_chat }}<span style="font-size: small; float: right;">
            <a href="{% url 'chats:info_about_chat' group_chat.pk %}">Информация по беседе</a></span></h5>
    {% endif %}
    <div class="messages">
        {% for m in chat %}
        <div class="message">
            <div>
                {% if m.sender != m.next_by_time_create.sender %}
                <a href="{{ m.sender.get_absolute_url }}">
                    {% if m.sender.user_info.photo %}
                    <img class="img-article-chats" src="{{m.sender.user_info.photo.url}}">
                    {% else %}
                    <img class="img-article-chats" src="\media\photos\defalts\default_avatar.png">
                    {% endif %}
                    <p>{{ m.sender.username }}
                </a>
                {% endif %}
            </div>
            <div>
                {% if m.is_readed %}
                <p>{{ m.text }} | <span style="float: right;">{{ m.time_create|date:"d.m.Y H:i" }}</span></p>
                {% else %}
                <p style="background-color: rgb(230, 255, 253);">{{ m.text }} | <span style="float: right;">{{ m.time_create|date:"d.m.Y H:i" }}</span></p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <form action="" method="post" target="#here">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="send_enter" onclick="run()" type="submit">Отправить</button>
        <p>ДОБАВИТЬ ВОЗМОЖНОСТЬ ОТПРАВЛЯТЬ ФОТО</p>
    </form>
</div>

{% endblock content %}