{% extends 'base.html' %}

{% block content %}
<h3 class="title">Мои сообщения</h3>
{% for chat in chats %}
<a href="{{ chat.get_absolute_url }}">
    <div class="chat">
        <div>
            {% for m in chat.members.all %}
            {% if m != user %}
                {% if current_user.user_info.photo %}
                    <img class="img-article-chats " src="{{current_user.user_info.photo.url}}"></p>
                {% else %}
                    <img class="img-article-chats " src="\media\photos\defalts\default_avatar.png"></p>
                {% endif %}
            {{ m.username }}
            {% endif %}
            {% endfor %}
        </div>
        <div> {{ chat.last_message|truncatechars:20 }} | {{chat.last_message_time_create|date:"d.m.Y H:i"}} </div>

    </div>
</a>
{% endfor %}
{% endblock content %}