{% extends 'base.html' %}


{% block content %}
<h1>Редактирование профиля</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ user_info_form.as_p }}</p>
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in user_form %}
    <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
 
    <p ><button type="submit">Сохранить</button></p>
</form>
<p><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>

{% endblock content %}