{% extends 'base.html' %}


{% block content %}
<h2 style="text-align: center;">{{ title }}</h2>

{% for u in users %}

<p><a href="{% url 'users:profile' u.id %}">
    {% if u.photo %}
    <img class="img-article-chats" src="{{ u.photo.url }}">
    {% else %}
    <img class="img-article-chats" src="\media\photos\defalts\default_avatar.png">
    {% endif %}
    {% if u.user.first_name %} {{ u.user.first_name }} {% else %} {{ u.user.username }} {% endif %} 
    {% if u.user.last_name %} {{ u.user.last_name }} {% endif %}</a>
</p>
<hr>
{% endfor %}
{% endblock content %}