{% extends 'base.html' %}


{% block content %}
<h1>Профиль пользователь {{ current_user.username }}</h1>
<h1>THERE IS PHOTO OF USER</h1>
<p><a href="{% url 'users:add_to_friends' current_user.pk %}">Добавить в друзья</a></p>
<p>
    {% if chat %}
    <a href="{{ chat.get_absolute_url }}">Открыть переписку</a>
    {% else %}
    <a href="{% url 'chats:create_chat' current_user.id %}">Начать переписку</a>
    {% endif %}
</p>
<form action="{% url 'users:logout' %}" method="post">
    {% csrf_token %}
    <p><button type="submit">Выйти из аккаунта</button></p>
</form>

{% endblock content %}