{% extends 'base.html' %}


{% block content %}
<h1>Все пользователи сайта</h1>

{% for u in users %}
<p><a href="{% url 'users:profile' u.id %}">
    {% if u.user_info.photo %}
    <img class="img-article-chats" src="{{ u.user_info.photo.url }}">
    {% else %}
    <img class="img-article-chats" src="\media\photos\defalts\default_avatar.png">
    {% endif %}
    {% if u.first_name %} {{ u.first_name }} {% else %} No name {% endif %} 
    {% if u.last_name %} {{ u.last_name }} {% endif %}</a>
</p>
<hr>
{% endfor %}
{% endblock content %}