{% extends 'base.html' %}


{% block content %}
<h2 style="text-align: center;">{{ title }}</h2>

{% for u in users %}

<p><a href="{% url 'users:profile' u.id %}">
    {% if u.user_info.photo %}
    <img class="img-article-chats" src="{{ u.user_info.photo.url }}">
    {% else %}
    <img class="img-article-chats" src="\media\photos\defalts\default_avatar.png">
    {% endif %}
    {% if u.first_name %} {{ u.first_name }} {% else %} {{ u.username }} {% endif %} 
    {% if u.last_name %} {{ u.last_name }} {% endif %}</a>
    <span style="float: right; font-size: small; color: gray;">{{ u.get_online_info }}</span>
</p>
<hr>
{% endfor %}
{% endblock content %}